extends ../layouts/default

block content
	//- Header
	header.landing
		div.container
			div.row
				div.col-lg-12
					div.intro-text
						span.about The most comprehensive testing tool for next-generation S
						span.about(style="text-transform:lowercase") o
						span.about Cs &amp; microcontroller hardware
			div.row.cta
				div.col-lg-12.text-center
					a.btn.btn-outline(href="#",title="Get the demo") Get the demo
					a.btn.btn-outline(href="#",title="See the benefits") See the benefits
						
	section#first
		div.container
			div.row
				div.col-sm-4.item
					img.img-responsive.img-donut(src="/images/icons/engineering-icon-5-200x200.png", alt="img-1")
					h4 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
				div.col-sm-4.item
					img.img-responsive.img-donut(src="/images/icons/engineering-icon-7-200x200.png", alt="img-2")
					h4 There are many variations of passages of Lorem Ipsum available
					p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
				div.col-sm-4.item
					img.img-responsive.img-donut(src="/images/icons/engineering-icon-9-200x200.png", alt="img-3")
					h4 Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
					p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
	
	section#tests.alt
		div.container
			div.row
				h2.text-center Tests
				p.description It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
			div.row
				//- Nav tabs
				ul.nav.nav-pills.nav-justified(role="tablist")
					li.active(role="presentation")
						a(href="#testEnergy" aria-controls="test-1" role="tab" data-toggle="tab") Energy Consumption
					li(role="presentation")
						a(href="#testEnvironment" aria-controls="test-2" role="tab" data-toggle="tab") Environmental
					li(role="presentation")
						a(href="#testIntegrity" aria-controls="test-3" role="tab" data-toggle="tab") Signal Integrity
					li(role="presentation")
						a(href="#testStress" aria-controls="test-4" role="tab" data-toggle="tab") Stress
					li(role="presentation")
						a(href="#testMachineLearning" aria-controls="test-4" role="tab" data-toggle="tab") Machine Learning
				//- Tab panes
				div.tab-content
					div#testEnergy.tab-pane.active(role="tabpanel")
						div.well.well-lg 
							p It's somewhat of a buzz word at the moment, but there's no denying that the internet of things is more than a fad. Sensors collecting huge amounts of valuable statistical data is worth more than money. It's important for societies to function and businesses to interpret their next move. Our energy tests involve custom tools that are calibrated to read nano currents.
					div#testEnvironment.tab-pane(role="tabpanel")
						div.well.well-lg 
							p As UAVs (e.g. drones) take over the skies and SDCs (Self-driving cars) the roads, it's more important than ever to know how a chip performs outside the home or lab. Our environmental tests involve part madness and a lot of randomness in order to ensure the chip doesn't know what's coming for it.
					div#testIntegrity.tab-pane(role="tabpanel")
						div.well.well-lg 
							p Bit error rate tests require expensive technology that is continuously evolving with bus speeds. 
					div#testStress.tab-pane(role="tabpanel")
						div.well.well-lg 
							p Breakdown voltage has been a part of data sheets for years, we provide this, but paired with contextual environmental tests you can provide your customers with a bigger picture.
					div#testMachineLearning.tab-pane(role="tabpanel")
						div.well.well-lg 
							p An older topic, but newer requirement, machine learning algorithms are at the forefront of all of the major software and hardware providers' minds. Our machine learning tests are the next step in ensuring your product goes to market with the speed and the compatibility your customers expect.
	
	section#partners
		div.container
			div.row
				h2.text-center Let's be partners
				hr.primary
			div.row.logos
				div.col-xs-2.col-md-2
				div.col-xs-6.col-md-3
					a(href="http://www.adafruit.com", title="Adafruit Industries")
						img.img-responsive(src="/images/partners/adafruit-grey-175x100.png", alt="Adafruit Industries")
				div.col-xs-6.col-md-3
					a(href="http://www.intel.com", title="Intel")
						img.img-responsive(src="/images/partners/intel-grey-175x100.png", alt="Intel")
				div.col-xs-6.col-md-3
					a(href="http://www.xilinx.com/", title="Xilinx")
						img.img-responsive(src="/images/partners/xilinx-grey-175x100.png", alt="Xilinx")
				div.col-xs-2.col-md-2
			div.clearfix
			br
			div.row.logos
				div.col-xs-2.col-md-2
				div.col-xs-6.col-md-3
					a(href="http://www.latticesemi.com/", title="Lattice Semiconductors")
						img.img-responsive(src="/images/partners/lattice-grey-175x100.png", alt="Lattice Semiconductors")
				div.col-xs-6.col-md-3
					a(href="http://www.st.com", title="ST Microelectronics")
						img.img-responsive(src="/images/partners/st-grey-175x100.png", alt="ST Microelectronics")
				div.col-xs-6.col-md-3
					a(href="http://www.tesla.com", title="Tesla")
						img.img-responsive(src="/images/partners/tesla-grey-175x100.png", alt="Tesla")
				div.col-xs-2.col-md-2
			div.clearfix
			
	section#markets.alt
		div.container
			div.row
				h2 Our Markets
				hr.primary
			div.row
				div.col-sm-4.item
					img.img-responsive.img-donut(src="/images/icons/engineering-icon-1-200x200.png", alt="img-1")
					h4 Manufacturers
					p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
				div.col-sm-4.item
					img.img-responsive.img-donut(src="/images/icons/engineering-icon-2-200x200.png", alt="img-2")
					h4 Retailers
					p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
				div.col-sm-4.item
					img.img-responsive.img-donut(src="/images/icons/engineering-icon-3-200x200.png", alt="img-3")
					h4 Consumers
					p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
	
				
	section#benefits
		div.container
			div.row
				h2 Development Program Benefits
				hr.primary
			div.row
				div.col-sm-3.item
					img.img-responsive.img-donut(src="/images/icons/engineering-icon-4-200x200.png", alt="img-3")
					h4 Support and notifications of alpha software &amp; hardware releases
				div.col-sm-3.item
					img.img-responsive.img-donut(src="/images/icons/engineering-icon-19-200x200.png", alt="img-1")
					h4 Regular reports, scores and statistics
				div.col-sm-3.item
					img.img-responsive.img-donut(src="/images/icons/engineering-icon-6-200x200.png", alt="img-2")
					h4 Use cases &amp; your feedback are welcomed into future developments
				div.col-sm-3.item
					img.img-responsive.img-donut(src="/images/icons/engineering-icon-16-200x200.png", alt="img-3")
					h4 We'll be there when you need another mind on the problem
				
	section#about
		div.container
			div.row
				h2 About
				hr.primary
			div.row
				div.well.well-lg
					p Little Benchmark provides SoC and IC benchmarking, testing, inspection, auditing, advising and training services to a wide range of clients, including manufacturers, retailers, policymakers, regulators, service companies, and consumers.
					br
					p Our customers have niche and complex requirements and are predominantly found in the microprocessor, FPGA and integrated circuit manufacturing markets. Founded in 2016, our goals are to abandon the traditional path of collecting intellectual property and instead approach our testing and manufacturing goals in an open source and globally collaborative manner. We provide a foundation of testing tools and borrow the brain power of the masses to complete the hardest problems. This is all made possible due to the prosperity of the open hardware and source code movements. Little Benchmark customers rely on our community, unique expertise, ferocious desire to stress test even the most extreme data processing topologies and research. This validation and high quality and high performance service is the only thing that allows them to most effectively deliver their products and get to market faster than their competitors.

				
		
