extends ../layouts/default

block content
	//- Header
	header
		div.container
			div.row
				div.col-lg-12
					img(src="images/profile.png", alt="", class="img-responsive")
					div.intro-text
						span.name Little Benchmark
						hr.star-light
						span.skills The little processor benchmarking folks.
