extends ../layouts/default

block content
	//- Header
	header.landing
		div.container
			div.row
				div.col-lg-12
					div.intro-text
						span.about The most comprehensive testing tool for next-generation SoCs &amp; microcontroller hardware
			div.row.cta
				div.col-lg-12.text-center
					a.btn.btn-outline(href="#",title="Get the demo") Get the demo
					a.btn.btn-outline(href="#",title="See the benefits") See the benefits
						
	section
		div.container
			div.row
				div.col-lg-12
					
		
