//- SITE FOOTER
footer.text-center
	.footer-above
		.container
			.row
				.footer-col.col-md-4
					h3 Location
					p
						| Portland, Oregon
				.footer-col.col-md-4
					h3 Around the Web
					ul.list-inline
						li
							a.btn-social.btn-outline(href='https://twitter.com/littlebenchmark')
								i.fa.fa-fw.fa-twitter
						li
							a.btn-social.btn-outline(href='#')
								i.fa.fa-fw.fa-youtube
						li
							a.btn-social.btn-outline(href='https://github.com/littlebenchmark')
								i.fa.fa-fw.fa-github
				.footer-col.col-md-4
					h3 About Little Benchmark
					p
						| The little processor benchmarking folks.
	.footer-below
		.container
			.row
				.col-lg-12
					| Copyright &copy; 2016 Little Benchmark. Powered by 
					img(src="images/microchip.png",style="width:15px;")
					| .

//- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
div.scroll-top.page-scroll.hidden-sm.hidden-xs.hidden-lg.hidden-md
	a.btn.btn-primary(href="#page-top")
	i.fa.fa-chevron-up
