//- SITE FOOTER
footer
	.footer-above
		.container
			.row
				.footer-col.col-md-3
					h3 <i class="fa fa-envelope-o" aria-hidden="true"></i> Email
					p
						a(href="mailto:team@littlebenchmark.com") team@littlebenchmark.com
				.footer-col.col-md-3
					h3 <i class="fa fa-map-marker" aria-hidden="true"></i> Location
					p(style='white-space:pre;')
						| 1111 E Burnside St.
						br
						| Portland, OR 97214
						br
						| United States
				.footer-col.col-md-3
					h3 <i class="fa fa-user-circle-o" aria-hidden="true"></i> Join
					a(href='#') Careers
				.footer-col.col-md-3
					h3 <i class="fa fa-globe" aria-hidden="true"></i> Around the Web
					ul.list-inline
						li
							a.btn-social.btn-outline(href='https://twitter.com/littlebenchmark')
								i.fa.fa-fw.fa-twitter
						li
							a.btn-social.btn-outline(href='#')
								i.fa.fa-fw.fa-youtube
						li
							a.btn-social.btn-outline(href='https://github.com/littlebenchmark')
								i.fa.fa-fw.fa-github
	.footer-below
		.container
			.row
				.col-lg-12
					|  &copy; 2016 Little Benchmark

//- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
div.scroll-top.page-scroll.hidden-sm.hidden-xs.hidden-lg.hidden-md
	a.btn.btn-primary(href="#page-top")
	i.fa.fa-chevron-up
